## Import the `ibm_db` Python library

The `ibm_db` [API ](https://pypi.python.org/pypi/ibm_db?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) provides a variety of useful Python functions for accessing and manipulating data in an IBM® data server database, including functions for connecting to a database, preparing and issuing SQL statements, fetching rows from result sets, calling stored procedures, committing and rolling back transactions, handling errors, and retrieving metadata.

In [3]:
import ibm_db
import ibm_db_dbi
import pandas as pd

# Part 1 - Connect to a remote IBM DB2 database using `ibm_db` API

This API is defined by IBM and provides the best support for advanced features. In addition to issuing SQL queries, calling stored procedures, and using pureXML®, we can access metadata information.

### Create connection credentials

In [5]:
credentials = {
  "db":         "BLUDB",
  "dsn":        "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=nhr87395;PWD=n6k6mlj7x1f@8vs2;",
  "host":       "dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net",
  "hostname":   "dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net",
  "https_url":  "https://dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:8443",
  "jdbcurl":    "jdbc:db2://dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB",
  "parameters": {"role_crn": "crn:v1:bluemix:public:iam::::serviceRole:Manager"},
  "password":   "n6k6mlj7x1f@8vs2",
  "port":       "50000",
  "ssldsn":     "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=nhr87395;PWD=n6k6mlj7x1f@8vs2;Security=SSL;",
  "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50001/BLUDB:sslConnection=true;",
  "uri":        "db2://nhr87395:n6k6mlj7x1f%408vs2@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB",
  "username":   "nhr87395"
}

In [6]:
dsn = "DRIVER={IBM DB2 ODBC DRIVER};" + credentials['dsn']

print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=nhr87395;PWD=n6k6mlj7x1f@8vs2;

### Create database connection

In [15]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", credentials['db'], "as user: ", credentials['username'], \
           "on host: ", credentials['hostname'])
except:
    print ("Unable to connect: ", ibm_db.conn_errormsg())

Connected to database:  BLUDB as user:  nhr87395 on host:  dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net

In [16]:
# Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print("DBMS_NAME: ", server.DBMS_NAME)
print("DBMS_VER:  ", server.DBMS_VER)
print("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB

In [17]:
# Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.01.0405
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

### Close the Connection

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [18]:
ibm_db.close(conn)

True

# Part 2 - Connect to a remote IBM DB2 database using `ibm_db_dbi` API

This API implements Python Database API Specification v2.0. Because the ibm_db_dbi API conforms to the specification, it does not offer some of the advanced features that the ibm_db API supports. If you have an application with a driver that supports Python Database API Specification v2.0, you can easily switch to ibm_db. The ibm_db and ibm_db_dbi APIs are packaged together.

In [7]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", credentials['db'], "as user: ", credentials['username'], \
           "on host: ", credentials['hostname'])
except:
    print ("Unable to connect: ", ibm_db.conn_errormsg())

Connected to database:  BLUDB as user:  nhr87395 on host:  dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net

### Create a table in the database

In this step we will create a table in the database with following details:

<img src = "https://ibm.box.com/shared/static/ztd2cn4xkdoj5erlk4hhng39kbp63s1h.jpg" align="center">

In [8]:
# Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

# Now execute the drop statement
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [9]:
# Construct the Create Table DDL statement
createQuery = """
create table INSTRUCTOR (
    id INTEGER PRIMARY KEY NOT NULL, 
    fname VARCHAR(25),
    lname VARCHAR(25),
    city VARCHAR(25),
    ccode CHAR(2))"""

# Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

### Insert data into the table

In this step we will insert some rows of data into the table. 

The INSTRUCTOR table we created in the previous step contains 3 rows of data:

<img src="https://ibm.box.com/shared/static/j5yjassxefrjknivfpekj7698dqe4d8i.jpg" align="center">

We will start by inserting just the first row of data, i.e. for instructor Rav Ahuja

In [10]:
# Construct the query
insertQuery = """
insert into INSTRUCTOR
    (id, fname, lname, city, ccode)
    values
    (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
"""

# execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [11]:
# insert the remaining two rows of data
insertQuery2 = """
insert into INSTRUCTOR
    (id, fname, lname, city, ccode)
    values
    (2, 'Raul', 'Chong', 'Markham', 'CA'),
    (3, 'Hima', 'Vasudevan', 'Chicago', 'US')
"""

# execute the statement
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

### Query data from the table

In [16]:
# Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

# Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

# Fetch the Dictionary (for the first row only)
dictionary = ibm_db.fetch_assoc(selectStmt)

print(dictionary)

{'ID': 1, 'FNAME': 'Rav', 'LNAME': 'Ahuja', 'CITY': 'MOOSETOWN', 'CCODE': 'CA'}

In [17]:
# Fetch the rest of the rows and print the ID and FNAME for those rows

while ibm_db.fetch_row(selectStmt):
    print(" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

In [18]:
# update statement that changes the Rav's CITY to MOOSETOWN 

q = """
update INSTRUCTOR
set CITY='MOOSETOWN'
where ID=1"""

statement = ibm_db.exec_immediate(conn, q)

In [19]:
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

dictionary = ibm_db.fetch_assoc(selectStmt)
while dictionary:
    print(dictionary)
    dictionary = ibm_db.fetch_assoc(selectStmt)

{'ID': 1, 'FNAME': 'Rav', 'LNAME': 'Ahuja', 'CITY': 'MOOSETOWN', 'CCODE': 'CA'}
{'ID': 2, 'FNAME': 'Raul', 'LNAME': 'Chong', 'CITY': 'Markham', 'CCODE': 'CA'}
{'ID': 3, 'FNAME': 'Hima', 'LNAME': 'Vasudevan', 'CITY': 'Chicago', 'CCODE': 'US'}

### Retrieve data into Pandas

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [20]:
# connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [21]:
# retrieve the query results into a pandas dataframe
pdf = pd.read_sql(selectQuery, pconn)

pdf.head()

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [22]:
# Alternatively we can use a cursor object to execute a query

c = pconn.cursor()
selectQuery = "select * from INSTRUCTOR"
c.execute(selectQuery)

# This is the description of the columns
print(c.description)

# These are the rows returned by our query 
result = c.fetchall()
result

[['ID', DBAPITypeObject({'INT', 'SMALLINT', 'INTEGER'}), 11, 11, 10, 0, False], ['FNAME', DBAPITypeObject({'VARCHAR', 'CHAR VARYING', 'CHARACTER', 'STRING', 'CHAR', 'CHARACTER VARYING'}), 25, 25, 25, 0, True], ['LNAME', DBAPITypeObject({'VARCHAR', 'CHAR VARYING', 'CHARACTER', 'STRING', 'CHAR', 'CHARACTER VARYING'}), 25, 25, 25, 0, True], ['CITY', DBAPITypeObject({'VARCHAR', 'CHAR VARYING', 'CHARACTER', 'STRING', 'CHAR', 'CHARACTER VARYING'}), 25, 25, 25, 0, True], ['CCODE', DBAPITypeObject({'VARCHAR', 'CHAR VARYING', 'CHARACTER', 'STRING', 'CHAR', 'CHARACTER VARYING'}), 2, 2, 2, 0, True]]

[(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA'),
 (2, 'Raul', 'Chong', 'Markham', 'CA'),
 (3, 'Hima', 'Vasudevan', 'Chicago', 'US')]

In [23]:
ibm_db.close(conn)

True